:root {
  --light: white;
  --medium: slategrey;
  --accent: blueviolet;
  --dark: black;
  --bg: gainsboro;
  --text-dark: slategrey; 
  --text-light: white;

  --padding: 2rem;
}

html {
  background-color: var(--bg);
}

body {
  font-family: system-ui;
  font-size: clamp(1rem, 1.5vw,  30px) ;
}

.container {
 width: 80vw;
  min-width: 320px;
  margin: auto;
  padding: 1em 0;
}

main {
  color: var(--text-light);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  gap: 2rem;
}

footer {
  display: flex;
  gap: 1em;
}

img {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  overflow: hidden;
}

.art1 {
  background-color: var(--accent);
}

.art2 {
  background-color: var(--medium);
}

.art3 {
  background-color: var(--light);
  color: var(--text-dark);
}

.art4 {
  background-color: var(--dark);
}

.art5 {
  background-color: var(--light);
  color: var(--text-dark);
}

article {
  padding: var(--padding);
  border-radius: 1rem;
}

h2 {
  font-size: 1.5em;
}

p, q {
  line-height: 1.5em;
  letter-spacing: 0.25em;
}
